<section id="cart-list">
  {{#if cart.length}}
    {{#each cart}}
      <div class="cart">
        <p>
          <a href="/shop/products/{{productId._id}}">{{productId.title}}</a>
        </p>

        <p>Quantity: <span>{{quantity}}</span></p>
        <form action="/shop/cart/delete" method="POST">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          <input type="hidden" name="productId" value="{{productId._id}}"  />
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    {{/each}}

    <form action="/shop/orders" method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <button type="submit" class="btn btn-primary" style="margin-top: 0.6rem;">Order Now!</button>
    </form>
  {{else}}
    <h2 class="title">No items are in the cart</h2>
  {{/if}}
</section>