<section class="orders-list">
  {{#if orders.length}}
    {{#each orders}}
      <article class="order">
        <h1>Order - #{{_id}}</h1>

        <ul>
          {{#each items}}
            <li>
              <a href="/shop/products/{{productId}}" style="color: #333;">{{title}} ({{quantity}})</a>
            </li>
          {{/each}}
        </ul>
      </article>
    {{/each}}
  {{else}}
    <h2 class="title">No orders yet!</h2>
  {{/if}}
</section>