{{#if products.length}}
  <div class="grid">
    {{#each products}}
      <div class="card">
        <h3>{{title}}</h3>
        <img src="/{{imageURL}}" alt="{{title}}" />
        <span>$ {{price}}</span>
        <p>{{description}}</p>
        <div class="card-actions">
          <a class="btn btn-primary" href="/shop/products/{{_id}}">Details</a>
          <form action="/shop/cart" method="POST">
            <input name="productId" type="hidden" value="{{_id}}" />
            {{#if ../isLoggedIn}}
              <button type="submit" class="btn btn-primary">Add to Cart</a>
            {{/if}}
          </form>
        </div>
      </div>
    {{/each}}
  </div>

  <section class="pagination">
    {{#if hasPreviousPage }}
      <a class="pagination-button" href="?page={{prevPage}}">< Prev</a>
    {{/if}}

    <span> página {{page}} / {{totalPages}} </span>

    {{#if hasNextPage }}
      <a class="pagination-button" href="?page={{nextPage}}">Next ></a>
    {{/if}}
  </section>

{{else}}
  <h2 class="title">No products available</h2>
{{/if}}
