{{#if products.length}}
  <div class="grid">
      {{#each products}}
        <article class="card">
          <h3>{{title}}</h3>
          <img src="/{{imageURL}}" alt="{{title}}" />
          <span>$ {{price}}</span>
          <p>{{description}}</p>
          <div class="card-actions">
            <a href="/admin/product-form/{{_id}}" class="btn btn-primary">Edit</a>

            <input type="hidden" name="productId" value="{{_id}}" />
            <button class="btn btn-danger" onclick="deleteProduct(this)" type="button" >Delete</button>
          </article>
        </div>
      {{/each}}
  </div>
  <section class="pagination">
    {{#if hasPreviousPage }}
      <a class="pagination-button" href="?page={{prevPage}}">< Prev</a>
    {{/if}}
    <span> página {{page}} / {{totalPages}} </span>
    {{#if hasNextPage }}
      <a class="pagination-button" href="?page={{nextPage}}">Next ></a>
    {{/if}}
  </section>
{{else}}
  <h2>No products to show</h2>
{{/if}}

<script src="/js/admin.js"></script>