<div class="grid">
  {{#if products.length}}
    {{#each products}}
      <div class="card">
        <h3>{{title}}</h3>
        <img src="{{imageURL}}" alt="{{title}}" />
        <span>$ {{price}}</span>
        <p>{{description}}</p>
        <div class="card-actions">
          <a href="/admin/product-form/{{id}}" class="btn btn-primary">Edit</a>
          <form action="/admin/products/delete" method="POST">
            <input type="hidden" name="productId" value="{{id}}" />
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </div>
      </div>
    {{/each}}
  {{else}}
    <h2>No products to show</h2>
  {{/if}}
</div>